/* 
 * note that all of these classes are placed manually on the DOM 
 * using the Stylable integration in the component logic,
 * in this case, button.tsx
*/
.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.icon {
  /* set image height and display: block */
  display: block;
  background-image: url('./assets/btnIcon.svg');
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  padding-right: 3px;
}

.label {
  font-size: 1.2em;
  color: rgba(81, 12, 68, 1.0)
}